@import 'variables.scss';

body {
  font-family: $bodyFont;
}

h1 {
  font-family: $headerFont;
  text-align: center;
  color: $siteHeaderColor;
  margin-top: 24px;
}

h3 {
  color: $subHeaderColor;
  text-align: center;

  span {
    margin: 0 12px;
  }

  .heart {
    color: $heartColor;
    font-size: 14px;
  }
}

.pet-image {
  width: 50%;
  margin-left: 25%;
}

.pet-name {
  font-family: $headerFont;
  color: $black;
  font-size: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 40%;
}

.name-banner {
  width: 35%;
  height: 48px;
  background-color: $bannerColor;
  display: inline-block;
  vertical-align: middle;
}

.left {
  margin-left: -20px;
  clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
}

.right {
  margin-right: -20px;
  float: right;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 10% 50%);
}

.accordion {
  margin-bottom: 36px;
}

.content-container {
  margin-left: 24px;
  margin-top: 24px;
  margin-right: 24px;
}

.header {
  font-size: 24px;
  font-family: $headerFont;
  color: $siteHeaderColor;
  margin-bottom: 12px;
}

.notes {
  font-size: 18px;
  font-family: $bodyFont;
  color: $black;
  font-style: italic;
  margin-top: 18px;
}

.subheaders {
  font-family: $bodyFont;
  font-size: 18px;
  color: $black;
  margin-top: 6px;

  p {
    margin: 0;
  }
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.menu-btn {
  background-color: $emergency;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .truck-medical {
    color: $white;
  }
}


.menu {
  width: 100%;
  height: 500px;
  background-color: $emergency;
}
