@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$headerFont: 'Bubblegum Sans';
$bodyFont: 'Open Sans';

$siteHeaderColor: #c78385;
$subHeaderColor: #90292c;

$white: #ffffff;
$black: #333333;
$emergency: #fc7171;
$bannerColor: #bffbf1;
